$font-serif: "Georgia", "Times New Roman", "Times", serif;
$font-sans: "Helvetica Neue", "Helvetica", "Arial", sans-serif;

.clear { clear: both;}

/* structure */

body {
	color: #66615E;
	font-family: $font-sans;
	font-size: 14px; /* to fix header styles because of font-sizing change, modify % x .928  */
}
p { font-size: 14px; line-height: 1.8em; max-width: 700px; }
li {
	line-height: 1.5em
}
#container {
	background: url(../img/bg_interior.jpg) top left no-repeat;
	margin: 0 auto;
	width: 980px;
	// ul, ol {
	// 	list-style: none; margin-left: 0;
	// }
	address {
		border-right: 1px solid #eceae3;
		float: left;
		margin-right: 10px;
		padding-right: 10px;
	}
}
#container .span9 { width: 680px; padding-right: 20px;}
.content { padding-right: 20px; li { margin-bottom: 15px;}}

#footerWrapper footer { width: 980px; margin: 0 auto; }

body { background: url(../img/bg_interiorWrap.jpg) center top repeat-x;}
.home #container { background: url(../img/bg_home.jpg) top left no-repeat;}
body.home { background: url(../img/bg_homeWrap.jpg) center top repeat-x;}

a { color: #78bcbf; }
a:hover { color: #635F5C; text-decoration: none; }

.btn {
    border: 3px solid #dad8d1;
    border: 3px solid rgba(218, 216, 209, 0.8);
	background: #cb610b;
	background-image: -webkit-linear-gradient(#cb610b 0%, #bc5b0a 55%, #cb610b 55%);
	background-image:    -moz-linear-gradient(#cb610b 0%, #bc5b0a 55%, #cb610b 55%);
	background-image:     -ms-linear-gradient(#cb610b 0%, #bc5b0a 55%, #cb610b 55%);
	background-image:      -o-linear-gradient(#cb610b 0%, #bc5b0a 55%, #cb610b 55%);
	background-image:         linear-gradient(#cb610b 0%, #bc5b0a 55%, #cb610b 55%);
	color: #eee;
	font-family: "Georgia", "Times New Roman", "Times", serif;
	font-size: 120%;
	font-weight: normal;
	padding: 0.45em 1.2em;
	-webkit-background-clip: padding;
	   -moz-background-clip: padding;
	        background-clip: padding-box;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	    -ms-border-radius: 10px;
	     -o-border-radius: 10px;
	        border-radius: 10px;
	text-shadow: 0 0 0;

}
#signupRibbon .btn { border: 3px solid #b7c6c5; border: 3px solid rgba(192, 209, 208, 0.8);}
.btn:hover {
	background: #b85301;
	background-image: -webkit-linear-gradient(#b85301 0%, #a54e01 55%, #b85301 55%);
	background-image:    -moz-linear-gradient(#b85301 0%, #a54e01 55%, #b85301 55%);
	background-image:     -ms-linear-gradient(#b85301 0%, #a54e01 55%, #b85301 55%);
	background-image:      -o-linear-gradient(#b85301 0%, #a54e01 55%, #b85301 55%);
	background-image:         linear-gradient(#b85301 0%, #a54e01 55%, #b85301 55%);
	color: #fff;
	-webkit-background-clip: padding;
	   -moz-background-clip: padding;
	        background-clip: padding-box;
}
.btn:before { content: "○\a0\a0\a0"; }
.btn:after { content: "\a0\a0\a0○"; }
a.btn { color: #eee; }
a.btn:hover { color: #fff; }

.bulleted {
	list-style-image: url(../img/bg_list.png);
	margin-left: 1.2em;

	li { margin: 1em 0; }

	a { border-bottom: 1px dotted #C9A706; color: #76716E; }
	a:hover { color: #C9A706; text-decoration: none; }
}

.textReplace { text-indent: -9999em; display: block; border-bottom: none; border: none;}

.sidebar { background: url(../img/bg_sidebarBar.png) top left repeat-y; color: #8e8883; }
.sidebar > * { margin-left: 20px; }
.smLt #ltColumn { width: 620px; }
.smLt .sidebar { width: 265px; }

.rtColumn_half, .ltColumn_half { width: 440px; float: left;}
.rtColumn_half { margin-left: 30px;}
.ltColumn_half { margin-right: 30px;}

.endingParagraph { margin-bottom: 35px;}

.extraSpace { padding-left: 20px;}

#tabs {
	margin-bottom: -1px;
	li {
	    margin-bottom: 0;
		padding: 10px 20px;
		background-color: #78716f;
		margin-right: 10px;
		display: inline-block;
		-webkit-border-radius: 10px;
		   -moz-border-radius: 10px;
		        border-radius: 10px;
		a { color: #efebe9; font-size: 115%; }
	}
	li.active {
		margin-top: -5px;
		background-color: #fff;
		border: 1px solid #eeedec;
		border-bottom: 0;
		padding-bottom: 20px;
		padding-top: 15px;
		-webkit-border-radius: 10px 10px 0 0;
		   -moz-border-radius: 10px 10px 0 0;
		        border-radius: 10px 10px 0 0;
		a { color: #605954; }
	}
	li:hover { background-color: #5b5553; }
	li.active:hover { background-color: #fff; }
}

.nav-blogpills { margin-bottom: -2px; }
.nav-blogpills li {
	margin-right: 10px;
}
.nav-blogpills li a {
	background-color: #78716f;
	color: #efebe9;
	font-size: 115%;
	padding: 12px 20px;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
}
.nav-blogpills li a:hover { background-color: #5b5553; color: #fff; }
.nav-blogpills li.active a {
	color: #605954;
	background-color: #fff;
	border: 1px solid #eeedec;
	margin-top: -1px;
	padding-bottom: 20px;
	padding-top: 15px;
	-webkit-border-radius: 10px 10px 0 0;
	   -moz-border-radius: 10px 10px 0 0;
            border-radius: 10px 10px 0 0;
}
.nav-blogpills li.active a:hover { background-color: #fff; color: #605954; }

#container .secondary-nav li > a { padding: 0 1.2em 2px 0.7em; }

#tabWrapper { border-top: 1px solid #EEEDEC; padding-top: 30px;}

.module { margin-bottom: 20px; padding-bottom: 20px; }
.moduleSm { margin-bottom: 35px;}

form.floatedList { margin: 0;}
form.floatedList li { margin-bottom: 0; }
.floatedList {
	list-style: none;
	margin-left: 0;
	li { float: left; margin-right: 15px;}
}
.normalList li { margin-bottom: 15px; font-size: 115%; margin-left: 30px;}
.inlineSpan span { display: inline;}

ul.fakeTables , ol.fakeTables { list-style: none; margin-left: 0; }
.fakeTables li { margin-bottom: 15px; }
.stripedTables li { padding: 15px;}

.separatedList { margin-left: 1.3em; }
.separatedList li {
	list-style-image: url(../img/bg_list.png);
	list-style-type: none;
	padding-left: 4px;
 	margin-bottom: 2em;
 }

/* header titles */

h1, h2, h3, h4 { font-weight: normal; color: #635f5c; }
h1 { font-family: $font-serif; font-size: 222.72%; line-height: 30px;}
h2 { margin-bottom: 30px; font-size: 343.36%; text-transform: uppercase; line-height: 45px; max-width: 600px; font-weight: 300; }
h3 { max-width: 650px; }
h3, .h2 { font-family: Georgia, "Times New Roman", Times, serif; margin-bottom: 25px; font-size: 194.88%; line-height: 29px; }
h4, .h3 { font-size: 157.76%; margin-bottom: 20px; line-height: 25px; text-transform: capitalize;}
h5, .h4 { font-weight: bold; margin-bottom: 20px; font-size: 129.92%; line-height: 22px; text-transform: capitalize;}
h6, .h5 { font-weight: bold; font-size: 116%; margin-bottom: 15px; text-transform: capitalize;}

h1 a, h1 a:active, h1 a:visited, h2 a, h2 a:active, h2 a:visited, h3 a, h3 a:active, h3 a:visited, h4 a, h4 a:active, h4 a:visited, h5 a, h5 a:active, h5 a:visited { color: #635f5c; }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover { color: #b9a609; }

.sectionHeader { border-bottom: 1px dashed #d6d3d2; padding-bottom: 5px; max-width: 100%;}

.callOut { font-size: 120%; line-height: 26px; }
.sectionspace { margin-top: 40px;}
.sideHeader { float: left; margin-right: 20px; }

.tip, time { font-family: $font-serif; font-style: oblique; color: #6c6967; display: block; color: #bab2ac; line-height: 18px;}
.inlineTip { display: inline; }
.tip { margin-bottom: 20px;}
.sidebar .tip { color: #8e8883;}
.withTip { margin-bottom: 5px;}
.medTip { margin-bottom: 10px;}
.content .withTipSm  { margin-bottom: 0;}

.centered { text-align: center;}
.withBorder { width: 100px; float: left; margin-right: 15px; border: 2px solid #e3dfdf; padding: 1px; }

/* header */

#mainHeader {
	margin-bottom: 50px;
	min-height: 200px;
	h1 {
		float: left;
		height: 72px;
		margin-bottom: 17px;
		margin-top: 35px;
		width: 236px;
		a {
			background: url(../img/logo.png) top left no-repeat;
			border-bottom: none;
			display: block;
			height: 72px;
			text-indent: -9999em;
			width: 236px;
		}
	}
}

body.home header { margin-bottom: 0;}

#follow-buttons { height: 20px; margin: 38px 5px 0 0; text-align: right; }

.searchform { margin: 10px 0 0; height: 18px;}
.searchform input[type="search"] { border-top: 0; width: 165px; font-size: 120%; padding: 10px 40px 7px 7px; -moz-opacity: 0.80; opacity: 0.80; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; font-style: oblique;}
#mainsearch{
	float: right;
}

.loginlinks{
    text-align: right;
    li {
        display: inline;
    }
}

/* navigation */

.primary-nav .nav { margin: 15px 0 0; position: absolute; }
header .primary-nav a {
	color: #635F5C;
	display: block;
	font-size: 118%; /*  based on 16px in comp, modified to 17px */
	font-weight: normal;
	height: 36px;
	margin-bottom: 2px;
	text-align: center;
	text-transform: uppercase;
    padding-right: 20px;
    padding-left: 20px;
}
.primary-nav li:hover a {
	background: transparent url(../img/bg_arrowActive.png) center bottom no-repeat;
	color: #b9a609;
	margin-top: 3px;
	margin-bottom: 0;
}

.secondary-nav {
	background: url(../img/bg_secNav.png) top center no-repeat;
	margin-bottom: -20px;
	margin-top: 55px;
	position: relative;

	ul { margin-top: -3px; }
	li { margin: 0 auto; padding: 12px 0 20px; }
	li > a {
		-webkit-border-radius: 0;
		border-right: 1px solid #C9C4C4;
		color: #8B8782;
		line-height: 15px;
		margin: 7px 0 0 0.5em;
		padding: 0 1.5em 0 1em;
		width: auto;
	}
	li:last-child > a {
	border-right: none;
	}
	li:hover a { background-color: transparent; color: #b9a609; }
}

ul.expert {
	list-style: none;
	margin: 0;
	padding: 0;
	li { float: left; padding: 3em 3em 2em 0; width: 45%; }
	li.clear { clear: both; }
	img { width: 100px; float: left; margin-right: 15px; border: 2px solid #e3dfdf; padding: 1px; }
}

body.blog .nav .blog,
body.projects .nav .projects,
body.participate .nav .participate,
body.contact .nav .contact,
body.issues .nav .issues {
	background: url(../img/bg_arrowActive.png) center bottom no-repeat;
	color: #B9A609;
}

body.missionBody .about1,
body.board .about2,
body.disclosures .about-disclosures,
body.funding .about4,
body.jobs .about5,
body.experts .experts,
body.releases .releases,
body.oped .oped,
body.editorials .editorials,
body.articles .articles,
body.webmentions .webmentions,
body.logos .logos,
body.tools .tools,
body.overview .overview,
body.agenda .agenda,
body.lobbying .lobbying,
body.disclosingmoney .disclosingmoney,
body.federal .federal,
body.international .international,
body.local .local,
body.documents .documents,
body.success .success,
body.opendata .opendata,
body.staff .about3,
body.overview .overview {
	background: url(../img/bg_arrowActive.png) center bottom no-repeat;
}

/* Specifically to change the color of the link (Intended style was getting overidden with more specificity somewhere else.) */

body.missionBody .secondary-nav li .about1,
body.board .secondary-nav li.about2 > a,
body.disclosures .secondary-nav li.about-disclosures > a,
body.funding .secondary-nav li.about4 > a,
body.jobs .secondary-nav li.about5 > a,
body.experts .secondary-nav li.experts > a,
body.releases .secondary-nav li.releases > a,
body.oped .secondary-nav li.oped > a,
body.editorials .secondary-nav li.editorials > a,
body.articles .secondary-nav li.articles > a,
body.webmentions .secondary-nav li.webmentions > a,
body.logos .secondary-nav li.logos > a,
body.tools .secondary-nav li.tools > a,
body.overview .secondary-nav li.overview > a,
body.agenda .secondary-nav li.agenda > a,
body.lobbying .secondary-nav li.lobbying > a,
body.disclosingmoney .secondary-nav li.disclosingmoney > a,
body.federal .secondary-nav li.federal > a,
body.international .secondary-nav li.international > a,
body.local .secondary-nav li.local > a,
body.documents .secondary-nav li.documents > a,
body.success .secondary-nav li.success > a,
body.opendata .secondary-nav li.opendata > a,
body.staff .secondary-nav li.about3 > a,
body.overview .secondary-nav li.overview > a {
	color: #B9A609;
}



body.about .nav .about a,
body.blog .nav .blog a,
body.issues .nav .issues a,
body.press .nav .press a,
body.projects .nav .projects a,
body.participate .nav .participate a,
body.contact .nav .contact a,
body.policy .nav .policy a {
	color: #B9A609;
	margin-bottom: 0;
	margin-top: 3px;
}

div.pagination { padding-top: 2em; }

#dontateBlock { background: url(../img/bg_donate.png) right 5px no-repeat; height: 157px; position: relative; z-index: 3; float: right; padding: 38px 10px 0 0; width: 534px;}
#dontateBlock span.textReplace { background: url(../img/bg_donateaskTitle.png) top left no-repeat; margin-right: 15px; width: 161px; height: 32px; float: right; margin-top: 10px;}

#shareBtns { float: right; clear: right; margin-top: 10px;}
#shareBtns li { width: 16px; height: 16px; float: right; margin-right: 10px;}
#shareBtns li a { width: 16px; height: 16px; }
#facebook a { background: url(../img/social_sprites.png) left -188px no-repeat;}
#facebook a:hover { background: url(../img/social_sprites.png) left -52px no-repeat;}
#twitter a { background: url(../img/social_sprites.png) left -103px no-repeat;}
#twitter a:hover { background: url(../img/social_sprites.png) left -1px no-repeat;}
#twitter a { background: url(../img/social_sprites.png) left -103px no-repeat;}
#twitter a:hover { background: url(../img/social_sprites.png) left -1px no-repeat;}
#youTube a { background: url(../img/social_sprites.png) left -137px no-repeat;}
#youTube a:hover { background: url(../img/social_sprites.png) left -86px no-repeat;}


/* feature */
#feature { margin-top: -66px; margin-left: -20px;}
#featureRibbon { background: url(../img/bg_feature.jpg) 20px top no-repeat; height: 387px; margin-bottom: 40px; padding-top: 30px; }
#featureRibbon h2 { background: url(../img/img_mainTitle.png) left top no-repeat; width: 290px; height: 121px; margin-left: 70px;}

#ltArrow, #rtArrow { position: absolute; z-index: 3; margin-top: 40px;}
#ltArrow { background: url(../img/btn_arrowLeft.png) left top no-repeat; width: 70px; height: 64px; float: left; margin-left: 10px;}
#ltArrow:hover { background: url(../img/btn_arrowLeft.png) left bottom no-repeat; }
#rtArrow { background: url(../img/btn_arrowRight.png) top left no-repeat; width: 70px; height: 64px; float: left; margin-left: 368px;}
#rtArrow:hover { background: url(../img/btn_arrowRight.png) bottom left no-repeat;}

#carouselBlock ul { list-style: none; margin: 0; padding: 0; padding-left: 70px; }
#carouselBlock li { float: left; color: #fff; padding: 7px 0; }
#carouselBlock li a { color: #fff; }
#carouselBlock img { position: absolute;  }
#carouselBlock h3, #carouselBlock p { width: 280px; }
#carouselBlock p { font-size: 110%;}

.carousel {
	overflow: hidden;
	height: 250px;
	width: 780px;
	float: left;
	position: absolute;
}

.carousel ul li {
	position: relative;
	float: left;
	width: 800px;
}

.specialMore { border-bottom: none; margin-left: -3px;  background: url(../img/bg_moreBanner.png) top left no-repeat; font-family: $font-serif; font-style: oblique; color: #fff; text-decoration: none; width: 368px; height: 74px; display: block; font-size: 120%; padding: 27px 0 0 15px;}

/* home page */

.homeFeatures p { padding: .7em 1em 1em; }
.homeFeatures a { color: #76716E; border-bottom: 1px dotted #78BCBF;}
.homeFeatures a:hover { color: #78BCBF;}
.homeFeatures h3 { height: 87px; margin-bottom: 0px; }
.homeFeatures .participate { margin-top: 50px; }
.homeFeatures .learn h3 { background: url(../img/bg_learnHeader.jpg) center top no-repeat; }
.homeFeatures .tools h3 { background: url(../img/bg_toolsHeader.jpg) center top no-repeat;  }
.homeFeatures .participate h3 { background: url(../img/bg_participateHeader.jpg) center top no-repeat;}

/* buttons */

.searchform button { background: url(../img/btn_search.png) top left no-repeat; width: 21px; height: 20px; left: 180px; position: relative; top: -40px;}
#dontateBlock a.btn { float: right; font-size: 180%; }

/* staff */

.sunlightStaff ol li { float: left; width: 215px; height: 100px; margin: 0 10px 30px;}
.sunlightStaff li a span { margin-top: 40px; }
.sunlightStaff li span { float: left; font-family: $font-serif; font-style: oblique; border-left: 1px solid #dac518; display: block; padding-left: 8px; line-height: 18px; color: #6d6666; width: 107px; margin-left: -10px;}
.staffTitle { font-family: $font-serif; font-style: oblique; }
.sunlightStaff .staffTitle { padding-top: 3px; font-size: 85%; color: #8c8383; line-height: 15px;}
.sunlightStaff img { float: left; }
.imgWrapper { background-color: #f8ef03; -webkit-border-radius: 60px; -moz-border-radius: 60px; border-radius: 60px; width: 100px; height: 100px; visibility: hidden; position: absolute; }
.sunlightStaff a:hover .imgWrapper { visibility: visible; -moz-opacity: 0.10; opacity: 0.10; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)"; width: 100px; height: 100px;  }

.staffPhoto { height: 59px; padding-top: 35px; margin-bottom: 30px; padding-left: 85px; z-index: 3; position: relative;}
.staffPhoto img { margin-left: 15px; padding-left: 20px; border-left: 1px solid #8d8989; font-style: oblique; font-family: $font-serif; margin-top:-4px; margin-right: 5px;}
.staffPhoto span.tip { border-right: none;}
#followBtn { background: url(../img/icons/16/twitter.png) left -1px no-repeat; padding-left: 25px; padding-top: 1px;}

.logos li { text-align: center; }
.logos a.thumbnail { margin-bottom: 1em; }

.paddedText { margin-left: 85px;}

#contactPaper { background: #fff url(../img/bg_foldedCorner.png) right top no-repeat;
border: 1px solid #eceae3;
border-radius: 0 30px 0 0;
padding: 40px 30px 50px;}

.mailroom-form {

	label { float: left; padding-top: 0.5em; width: 80px; }
	label[for=id_slot] { width: 200px; }
    label[for=id_signup] { width: 250px; }
    label[for=id_humanity_answer] { width: 250px; }

	input { width: 300px; }
    input#id_humanity_answer { width: 25px; }
	textarea { width: 400px; border: 3px solid #ECEAE3; height: 180px;}

	li { clear: both; list-style: none; }
    ul.errorlist li { color: #900; font-weight: bold; }

}
.mailroom-form label { float: none;}
.mailroom-form input, .mailroom-form textarea { width: 400px;}

ul.issues-list { list-style: none; margin: 0; padding: 0; }
ul.issues-list li.clear { clear: both; }

ul.initiatives { list-style: none; margin: 0; padding: 0; }

/* blog */
#tabs #labsNav.active a { background: #fff url(../img/bg_labsicon.jpg) left 1px no-repeat; padding-left: 25px;}
#tabs #reportingNav.active a { background: #fff url(../img/bg_reportingIcon.jpg) left 1px no-repeat; padding-left: 25px;}
#tabs #flagshipNav.active a { background: #fff url(../img/bg_mainIcon.jpg) left 1px no-repeat; padding-left: 25px;}

.blog-container {
    margin-left: 0;
	background: #fff;
	border: 1px solid #eeedec;
	border-bottom: 0;
	padding: 40px 0 20px 0;
	-webkit-border-radius: 10px 10px 0 0;
	   -moz-border-radius: 10px 10px 0 0;
	        border-radius: 10px 10px 0 0;

}
.blog-container .meta { font-size: 95%; line-height: 15px; margin-bottom: 2em; }
.blog-container .meta address { display: inline; border-right: 1px solid #eceae3; padding-right: 10px; margin-right: 10px;}
.blog-container .meta time { display: inline; }

// .features .featured { padding-right: 200px; }
.featured p { max-width: 800px; font-size: 115%; line-height: 27px;}
.features .summaryFooter { max-width: 800px; }

.blog-content { padding: 0 20px; }
.blog-content .readMore { margin-left: -51px;}

figure.full { margin: 2em 0; }
figure.full img {
	display: block;
}
figcaption { color: #BAB2AC; }

.blogSideBar { width: 250px; float: right; margin-left: 25px; }

.blog article { margin-bottom: 50px; padding-bottom: 40px; }
.morelink {
	display: block;
    text-transform: uppercase;
	margin: 1em 0;
}
.readMore {
    margin-left: -31px;
    background: url(../img/bg_readMore.jpg) left top no-repeat;
    width: 168px;
    height: 42px;
    display: block;
    color:
    white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    padding: 27px 0 0 52px;
    font-size: 115%;
    text-transform: lowercase;
}
.readMore:hover { color: #EAE8E8; }

.blogIntro { min-height: 115px; padding-top: 35px; font-size: 115%; background: url(../img/bg_blogIntro.jpg) center bottom no-repeat; position: relative; z-index: 3;}
.blogIntro p { max-width: 560px;}
#labsIntro { background: url(../img/bg_blogLabs.png) bottom center no-repeat; margin-top: -20px;}
#mainIntro { background: url(../img/bg_blogMain.png) bottom center no-repeat; margin-top: -20px;}
#reportingIntro { background: url(../img/bg_blogReporting.png) bottom center no-repeat; margin-top: -20px;}
#allIntro { background: url(../img/bg_blogAll.png) bottom center no-repeat; margin-top: -20px;}
#reportingIntro { background: url(../img/bg_blogReporting.png) bottom center no-repeat; margin-top: -20px;}

.blog-container h1 { line-height: 1.2em; }

.blog-container .sidebar {
	background: #f8f7f7 url(../img/bg_smColBtn.png) center bottom no-repeat;
	border: 1px solid #ece8e8;
	border-right: 3px solid #cdc8c8;
	border-bottom: 3px solid #cdc8c8;
	margin-right: -10px;
	margin-top: -60px;
	margin-left: 22px;
	padding: 20px 10px 20px 0px;
	-moz-opacity: 0.85;
	opacity: 0.85;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	width: 170px;

}
.blog-container .sidebar h3 {
	background: url(../img/bg_sidebarTab.png) left top no-repeat;
	margin-left: -25px;
	padding-left: 20px;
}

.elsewhere-posts {
	background-color: #f8f7f7;
	border: 1px solid #ece8e8;
	border-right: 3px solid #cdc8c8;
	border-bottom: 3px solid #cdc8c8;
	margin: 0 0 4em 0;
	padding: 1em 1em;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	-moz-opacity: 0.85;
	     opacity: 0.85;
}
.elsewhere-posts li { margin: 0.5em 0; }
.elsewhere-posts .tip { display: inline; }

header { margin-bottom: 30px;}

.alignleft { float: left; margin-right: 20px; }
.alignright { float: right; margin-left: 20px; margin-right: -20px;}
.imgCenter { margin: 0 auto; display: block;}

q, blockquote p, blockquote { font-family: "Georgia", "Times New Roman", "Times", serif; font-style: oblique;}
blockquote p { font-size: 115%; line-height: 22px; }
blockquote { margin: 20px 0 20px 30px; padding: 10px 0 15px 20px; border-left: 1px dotted #d2d3d4; width: 500px; }
blockquote footer { font-size: 110%; padding-top: 10px; color: #BAB2AC; padding-right: 10px;}

.pullquote {

	background: url(../img/bg_pullQuoteTop.png) center top no-repeat;
	border: none;
	float: right;
	width: 370px;

	p {
		background: url(../img/bg_pullQuoteBtm.png) center bottom no-repeat;
		color: #619098;
		font-size: 190%;
		line-height: 33px;
		padding: 30px 45px 35px;
		text-align: center;
	}

	footer {
		color: #BAB2AC;
		font-size: 110%;
		padding-right: 10px;
		padding-top: 10px;
		text-align: right;
	}

}


#container .entry-content ol, #container .entry-content ul,  { margin-bottom: 25px; margin-left: 40px;}
#container .entry-content ol li { margin-bottom: 12px; list-style-type: decimal; }
#container .entry-content ul li { margin-bottom: 12px; list-style-type: disc; }

#blogFooter { background: url(../img/bg_blogBtm.jpg) center top no-repeat; padding-top: 20px; font-size: 90%; margin-top: 50px;}
#postTags span { background: url(../img/img_tags.jpg) top left no-repeat; float: left; width: 29px; height: 14px; padding-right: 15px; margin-right: 15px; border-right: 1px dotted #dddbd9; }

.blog article {
	img { border: 2px solid #e3dfdf; padding: 1px; margin-bottom: 20px;}
	iframe { margin: 1.3em auto; padding: 1px; border: 2px solid #E3DFDF; }
}

#postTags { font-family: $font-serif; font-style: oblique; font-size: 115%; }
#postTags span { float: left; margin-right: 15px;}

.share-links { float: left;}
.share2 {
	list-style: none;
	margin-left: 0;
	li { float: right; margin-left: 15px; }
}
.share-links li a { width: 16px; height: 16px;}
.share-reddit { background: url(../img/icons/16/reddit.png) top left no-repeat;}
.share-delicious { background: url(../img/icons/16/delicious.png) top left no-repeat;}
.share-digg { background: url(../img/icons/16/digg.png) top left no-repeat;}

.gig-followbar-providerButton { margin: 0 0 0 5px !important; }

.summaryFooter { border-top: 1px dotted #DDDBD9; margin-top: 30px; padding-top: 10px; font-size: 90%; text-transform: uppercase;}
.commentCount { float: right;}
.plusone{ float: left; width: 100px;}



/* forms */
form ul { list-style: none; margin: 0; padding: 0; }
form ul li { list-style: none; margin-bottom: 1em; }
input, textarea {
	border: 3px solid #eceae3;
	color: #837571;
	font-family: $font-serif;
	padding: 7px;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}
label { font-family: $font-serif; font-size: 110%; }
/*label { width: 80px; display: block; float: left; padding-top: 5px; font-family: $font-serif; font-size: 110%;}
label.forSelect { width: auto; padding-top: 2px; margin-right: 15px;}
*/
.horizontalForm label { float: left; width: 100px; margin-right: 20px; padding-top: 10px;}
ul.messages { list-style: none; }




/* error */
#suggestions { padding-top: 20px; border-top: 1px dashed #d6d3d2; margin-top: 30px; background: url(../img/bg_suggestion.jpg) left 20px no-repeat; padding-bottom: 20px; }
#suggestions h3, #suggestions p { padding-left: 105px; }
#suggestions h3 { padding-top: 15px; }
#errorPage { background: url(../img/bg_404.jpg) top left no-repeat; height: 522px; margin-left: -52px; margin-top: -32px;}
#suggestions li { float: left; width: 290px; margin-right: 30px; }
#suggestions li li { text-align: left; }
#suggestions li.last { margin-right: 0;}




/* tables */

.entry-content td { padding: 10px; }
.entry-content th { padding: 10px; font-size: 110%; border-bottom: 2px solid #D6D4D1; }
.entry-content tbody tr{border-bottom: 1px solid #f0eded; border-top: 1px solid #f0eded;}
.entry-content tr:first-child { text-align: left;}
.entry-content table { margin: 30px 0; }
tbody .odd, tbody tr:nth-of-type(odd) { background-color: #f9f8f8;  }


/* lists  */
dt { font-weight: bold; margin-bottom: 5px; }
dd { margin-bottom: 20px;}
dt.sideBy { float: left; margin-right: 10px;}

.thirds, .halfs { list-style: none; margin: 0;}
.thirds li { float: left; padding-right: 50px; width: 275px; margin-bottom: 25px; }
.halfs li { float: left; padding-left: 40px; width: 427px; margin-bottom: 25px;  }
li.last { padding-right: 0;}
.thirds img, .halfs img { width: 285px; border: 1px solid #e3dfdf; padding: 2px;}
.features .halfs { margin-left: -20px;}
.sideNote .thirds li { width: 250px; margin-bottom: 10px; }
ul.commasWithTitle {
	float: left;
}





/*  Random  */
#staffImg { margin-top: -40px; position: absolute; left: 520px; }
#jobsList { float: left; }
#halfContent { float: left; width: 460px;}

section,
.section {
	border-top: 1px dashed #d6d3d2;
	margin-top: 2em;
	padding-top: 2em;
}

#hiring, .content-filter, .contentSidebar, .blogSideBar, .sideNote { background-color: #f9f8f8; border: 1px solid #f0eded; padding: 25px 15px; margin-bottom: 40px;}
.contentSidebarSm { padding: 10px 15px 5px; margin-bottom: 0px;}
.withContacts { margin-top: -55px; padding-top: 80px; }
#hiring h3 { background: url(../img/title_hiring.png) center top no-repeat; height: 44px;}
#hiring span { text-align: center;}

.mission p {
	background: url(../img/bg_missionStatement2.png) center top no-repeat;
	color: #7C7672;
	font-family: "franklin-gothic-urw-comp";
	font-size: 125%;
	padding: 70px 10px 0;
	text-align: center;
	font-weight: 300;
}

.update { padding: 20px 20px 10px; margin-bottom: 35px; background-color: #fefee6; border: 1px solid #e7e73b; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px;}

#donateSidebar { text-align: center;}
#donateBtn { margin: 0 auto;}

.funding, .grants {
	.contributor, .amount { font-size: 115%; margin-bottom: 5px;}
	.contributor { float: left; font-weight: bold;}
	.grantee { font-weight: bold;}
	.amount { float: right;}
}

#donationBg { background: url(../img/bg_donation.png) center top no-repeat; width: 681px; height: 239px;  margin-bottom: 50px; text-align: center;}
#donateTitle { background: url(../img/title_giveSupport.png) left bottom no-repeat; width: 554px; height: 45px; padding-top: 103px; margin: 0 auto 5px;}
#donationBg p { color: #ffffff; font-size: 115%; font-style: normal; margin-bottom: 30px;}
#donationBg input { margin-top: 8px; margin-right: 10px}
#resources { background: url(../img/bg_resources.png) center top no-repeat; padding-top: 60px; }

.search-icon { float: left; }
.search_result_text { float: left; padding-left: 20px; width: 600px; }

#helpTicket { background: url(../img/bg_helpTicket.png) center top no-repeat; height: 334px; margin-bottom: 50px; padding-left: 35px;
    -webkit-transform: rotate(-1.5deg);  /* Saf3.1+, Chrome */
         -moz-transform: rotate(-1.5deg);  /* FF3.5+ */
          -ms-transform: rotate(-1.5deg);  /* IE9 */
           -o-transform: rotate(-1.5deg);  /* Opera 10.5 */
              transform: rotate(-1.5deg);
                 filter: progid:DXImageTransform.Microsoft.Matrix(/* IE6–IE9 */
                         M11=0.9914448613738104, M12=-0.13052619222005157,M21=0.13052619222005157, M22=0.9914448613738104, sizingMethod='auto expand');
                   zoom: 1;
    }
#helpTicket h2 { font-size: 190%;}
#helpTicket .ltColumn_half { width: 405px;}
#meetup { background: url(../img/header_events.png) top center no-repeat; padding-top: 40px;}
#openGov { background: url(../img/header_ogChamps.jpg) top center no-repeat; padding-top: 40px;}
#guestBlog { background: url(../img/header_guestBlog.png) top center no-repeat; padding-top: 40px;}
#tcamp { background: url(../img/header_tcamp.png) top center no-repeat; padding-top: 40px;}

.takeaction ol.steps { list-style: none; }
.takeaction ol.steps > li {
    border-bottom: 1px solid #EAE7E0;
    padding: 2em 0 2em 5em;
}
.takeaction ol.steps .step-number {
    color: #CA5703;
    font-size: 500%;
    font-weight: bold;
    margin-left: -1em;
    padding-top: 15px;
    position: absolute;
}
.lobbying-signup input { width: 160px;}
.lobbying-signup button { margin-top: 22px;}

.content-filter {
	form { 
		margin-bottom: 0; 
	}
	label { 
		padding-right: 0.5em;
		display: inline;
	}
	select { 
		width: 70px; 
		margin-right: 3em; 
	}
	li {
		display: inline;
	}
}

.release-type { font-weight: bold; }

article.press-release { margin-bottom: 35px; padding-right: 30px;}
article.press-release header { margin-bottom: 0; }
article.press-release h3, article.press-release h4 { margin-bottom: 0.5em; }
.articlesSection { background: url(../img/bg_pressArticles.png) left top no-repeat; padding: 20px 0 20px 100px; margin-left: -15px; min-height: 60px; }
.releasesSection { background: url(../img/bg_pressReleases.png) left top no-repeat; padding: 20px 0 20px 100px; margin-left: -15px; min-height: 60px;}
.featuredSection { background: url(../img/bg_featured.png) left top no-repeat; padding: 20px 0 20px 100px; margin-left: -15px; min-height: 60px;}




/* Press  */
article .press_release {
	background-color:transparent;
	background-image:url("images/img_pressRelease.png");
	background-position:left 2px;
	background-repeat:no-repeat;
	padding-left:30px;
}
article .press_article {
	background-color:transparent;
	background-image:url("images/img_pressArticle.png");
	background-position:left 2px;
	background-repeat:no-repeat;
	padding-left:30px;
}

.contactPerson { background-color: #fff; border: 1px solid #F0EDED; width: 100%; margin-left: -25px; padding: 5px 15px 10px; }
#contacts img { width: 80px; border: 2px solid #e3dfdf; margin-top: 10px;}
.rtTilt {
	float: left; margin-right: 20px; margin-left: -30px;
    filter: progid:DXImageTransform.Microsoft.Matrix(/* IE6–IE9 */
            M11=0.9914448613738104, M12=-0.13052619222005157,M21=0.13052619222005157, M22=0.9914448613738104, sizingMethod='auto expand');
    -webkit-transform: rotate(-4deg);  /* Saf3.1+, Chrome */
     -moz-transform: rotate(-4deg);  /* FF3.5+ */
      -ms-transform: rotate(-4deg);  /* IE9 */
       -o-transform: rotate(-4deg);  /* Opera 10.5 */
          transform: rotate(-4deg);
	zoom: 1;
}
.ltTilt {
	float: right; margin-right: -20px;
    filter: progid:DXImageTransform.Microsoft.Matrix(/* IE6–IE9 */
            M11=0.9914448613738104, M12=-0.13052619222005157,M21=0.13052619222005157, M22=0.9914448613738104, sizingMethod='auto expand');
    -webkit-transform: rotate(4deg);  /* Saf3.1+, Chrome */
       -moz-transform: rotate(4deg);  /* FF3.5+ */
        -ms-transform: rotate(4deg);  /* IE9 */
         -o-transform: rotate(4deg);  /* Opera 10.5 */
            transform: rotate(4deg);
	zoom: 1;
}






/* API Section */


body.apis, body.community {
	.content.span9 {
		position: relative;

		ul {
			margin-left: 0;
		}
		li p{
			clear: both;
		}
	}
	ul li {
		list-style-type: none;
	}
	
	.status {
		background: url("../img/api_status.png") no-repeat;
		float: right;
		height: 18px;
		padding-left: 25px;
		margin-top: 6px;

		&.normal{
			background-position: left top;
		}
		&.degraded{
			background-position: left center;
		}
		&.busted{
			background-position: left bottom;
		}
	}

	li.api {
		margin-bottom: 30px;

		h3 {
			float: left;
		}
		h4{
			font-size: 100%;
			font-weight: bold;
		}
	}
	ul.libraries {
		columns: 2;
		-webkit-columns: 2; /* Safari and Chrome */
		-moz-columns: 2; /* Firefox */

	}
	.tags{
		clear: both;
		display: block;
	}
	.sideHeader{
		margin-bottom: 0;
		margin-right: 15px;
	}
	.poweredTools li{
		padding-top: 3px;
	}
	small.tip{
		font-size: 85%;
		font-style: italic;
	}
	.content .section{
		margin: 0;
		padding-top: 2em;
		padding-bottom: 2em;
		padding-left: 1em;
	}

}
.projects .searchform, .projects .filters {
	float: left;
}
.projects .searchform {
	margin-top: -5px;
}
.projects .filters{
	width: 430px;
}
.content-filter li{
	display: block;
	float: left;
}
.communityProjects{
	margin-top: -41px;
}
.communityProjects .section.even{
	background-color: rgb(245, 248, 248);
}








/* old projects */

body.projects {
	.project {
		clear: both;
		margin: 1em 0 3em 0;

		.project-icon {
			display: block;
			float: left;
			img { height: 101px; width: 100px; }
		}
	}
	.project-intro { font-size: 120%; line-height: 140%; width: 50%; }
}

/* Projects */
#projectShots img { border: 2px solid #e3dfdf;  }
#projectShots li { text-align: center; width: 440px; }
#projectShots { position: absolute; }

#clearspending { background: url(../img/projects/icon_clearspending.png) top left no-repeat; padding: 40px 0 1px 105px; }

#projectDetails #ltArrow, #projectDetails #rtArrow { position: relative; z-index: 3; position: relative; margin-top: 140px;}
#projectDetails #rtArrow { float: right; }

.project { clear: both; margin: 1em 0 3em 0; }
.project-icon { float: left; margin-right: 20px;}
.description { float: right; width: 340px; }

/* Drupal */

div.drupal {
	font-size: 110%;
	line-height: 1.5em;
	ul { margin-top: 2em; }
	li { margin: 1em 0 0 2em; }
}

/* footer */
#footerWrapper { background: url(../img/bg_footerWrap.jpg) top center repeat-x;}
#footerWrapper footer { background: url(../img/bg_footer.jpg) center top no-repeat; color: #f1efed;  height: 322px; margin-top: 70px;}
footer h4, footer h5 { color: #f1efed; font-family: $font-serif; font-weight: normal; }
#footerDonate h5 { float: left; margin-right: 20px; padding-top: 10px; }
#footerDonate { border-bottom: 1px dotted #736c67; padding-bottom: 15px; margin-top: -5px; margin-bottom: 10px; }

#signupRibbon { background: url(../img/bg_footerBanner.png) left 37px no-repeat; height: 60px; padding-top: 48px; padding-left: 20px; margin-left: 10px;}
#signupRibbon span.textReplace { background: url(../img/bg_signupTitle.png) top left no-repeat; width: 348px; height: 38px; float: left; margin-right: 15px;}
#signupRibbon input[type=text] { float: left; margin-right: 10px; border: 3px solid #cad4d7; font-style: oblique; }
#signupRibbon input[name=email] { width: 160px; }
#signupRibbon input[name=zipcode] {width: 80px; }
#signupRibbon .signup-thanks {
	display: none;
	font-size: 160%;
	margin-left: 1em;
	padding-top: 0.5em;
	text-shadow: 0 0 7px #4d727b;
}

#bottomFooter { margin-top: 25px; }

#contactInfo, #privacy { float: left;}
#contactInfo { width: 250px; margin: 0 60px 0 50px ;}
#privacy p { width: 510px; font-family: $font-serif; font-style: oblique; font-size: 95%; line-height: 1.5em; }

address { font-style: normal; font-size: 105%; }
.adr { display: block;}
.tel { display: block; margin-top: 10px; float: left; }
.tel-skype { background: url(../img/icons/16/skype.png) top left no-repeat; float: left; margin-left: 10px; margin-top: 10px; }

.deprecated-api {
    opacity: 0.5; }
.active-api .api-status-label {
    display: none; }
.api-status-separator {
    border: 0px dashed #cccccc; }
